<section class="section">
    <%= simple_form_for @post do |f| %>
    <div class="field">
        <div class="control">
        <%= f.input :title, wrapper: false, input_html: {class: 'input'}, label_html: {class: 'label'} %>
        </div>
    </div>
    <div class="field">
        <div class="control">
        <%= f.input :content, wrapper: false, input_html: {class: 'textarea'}, label_html: {class: 'label'} %>
        </div>
    </div>
    <div class="field is-grouped">
    <p class="control">
    <%= f.button :submit, 'Submit', class: 'button is-primary' %>
    </p>
    <p class="control">
    <%= link_to 'Cancel', root_path, class: 'button is-light' %>
    </p>
    </div>
    <% end %>
</section>


<!--
<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label class="label"><%= form.label :title %></label>
    <div class="control">
    <%= form.text_field :title, class: "input" %>
    </div>
  </div>

  <div class="field">
    <label class="label"><%= form.label :content %></label>
    <div class="control">
    <%= form.text_area :content, class: "input" %>
    </div>
  </div>

  <div class="control">
    <div class="actions">
    <div class="control">
      <button class="button is-primary"><%= form.submit %></button>
    </div>
  </div>
<% end %>
-->